/* styles.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 95vw;
  background-color: transparent;
  transition: background-color 0.4s ease;
  z-index: 100;
}

.navbar.scrolled {
  background-color: #222;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #00f7ff;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #00f7ff;
}

.nav-links li a:hover::after {
  width: 100%;
}

.hero {
  height: 120vh;
  background: linear-gradient(to bottom right, #111, #444);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
